{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container mt-8" class="container-lg">
    <h2>Bank Transfer Instructions</h2>
    <p>Orders can be placed by sending an email to:</p>
    <ul>
        <li>Mr Sibusiso Fankomo, email <a href="mailto:Sibusiso.Fankomo@ump.ac.za">Sibusiso.Fankomo@ump.ac.za</a></li>
        <li>Mr Petrus Mtsweni, email <a href="mailto:Petros.mtsweni@ump.ac.za">Petros.mtsweni@ump.ac.za</a></li>
        <li>Mr Mica Mashaba, email <a href="mailto:MICAH.MASHABA@ump.ac.za">MICAH.MASHABA@ump.ac.za</a></li>
    </ul>
    <p><strong>Method of Payments:</strong></p>
    <p>If you would like to make an order, kindly make the payments to the attached University’s banking details and use "farm produce" as your payment reference.</p>
    
    <!-- Embedded PDF Document -->
    <div class="pdf-container mt-4">
        <iframe src="https://media.nextgensell.com/files/ghfh/University_Banking_Details.pdf" width="100%" height="600px"></iframe>
    </div>
</div>

<!-- Add your custom styles below -->
<style>
    .container {
        max-width: 1000px;
        margin: auto;
        padding: 20px;
    }

    h2 {
     
        margin-bottom: 20px;
    }

    .pdf-container {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 10px;
    }

    #pre-footer,#pre-footer-post{
        display: none;
    }

</style>
{% endblock %}